<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConectaMóvil"
        tools:targetApi="31">
        <activity
            android:name=".Mensaje"
            android:exported="false" />
        <activity
            android:name=".MQTTManager"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Principal"
            android:exported="false"
            android:label="@string/title_activity_principal" />
        <activity
            android:name=".ContactoAdapter"
            android:exported="false" />
        <activity
            android:name=".ListarContactosActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarContactoActivity"
            android:exported="false" />
        <activity
            android:name=".Contactos"
            android:exported="false" />
        <activity
            android:name=".MQTTchat"
            android:exported="false" />
        <activity
            android:name=".MostrarDatosActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="org.eclipse.paho.android.service.MqttService"
            android:exported="false" />
    </application>

</manifest>